= nested_form_for @ticket, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :owner, :class => 'control-label'
    .controls
      = f.select :user, User.all.map(&:email)
  .control-group
    = f.label :status, :class => 'control-label'
    .controls
      = f.select :status, Ticket::STATUSES
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :subject, :class => 'control-label'
    .controls
      = f.text_field :subject, :class => 'text_field'
  .control-group
    = f.label :body, :class => 'control-label'
    .controls
      = f.text_field :body, :class => 'text_field'
  .control-group
    = f.fields_for :responses do |r_f|
      = r_f.text_field :text
      = r_f.link_to_remove "Remove this response"
    = f.link_to_add "Add a response", :responses
  .control-group
    = f.label :uid, :class => 'control-label'
    .controls
      = f.text_field :uid, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), tickets_path, :class => 'btn'